.header__wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #0382a9;
    padding: 10px;
    color: #fff;
}

.header__wrapper a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}