.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

form button {
  margin-top: 15px !important;
}

.formWrapper {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
}